html {
  scroll-behavior: smooth;
}

/*map styling begins here*/
#map {
  min-height: 200px;
  min-width: 300px;
}
header,
footer {
  width: 100vw;
}

.carousel {
  position: relative;
  top: -63px;
}

.carousel .carousel-item {
  width:250px !important;
}

.geocoder {
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-bottom: 2px;
  top: 10px;
  }
  .mapboxgl-ctrl-geocoder {
  min-width: 100%;
  }
  #map {
  margin-top: 75px;
  }

  .location-city {
    display: inline-flex;
  }

  .location-state {
    display: inline-flex;
  }

  .location-zip {
    display: inline-flex;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: inline-flex;
  }

  .color-red {
    color: red;
  }