html {
  scroll-behavior: smooth;
}

/*map styling begins here*/
#map {
  min-height: 500px;
  min-width: 300px;
}
header,
footer {
  width: 100vw;
}

header nav.nav-header .nav-wrapper{
  width: 70%;
  margin: auto;
}
.carousel {
  position: relative;
  top: -85px;
  height: 580px;
}

.carousel .carousel-item {
  width:250px !important;
}

#map-info {
  margin-top: 35px;
}
  #map {
  margin-top: 10px;
  }

  .location-city {
    display: inline-flex;
  }

  .location-state {
    display: inline-flex;
  }

  .location-zip {
    display: inline-flex;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: inline-flex;
  }

  section select .state{
    width: 40%;
  }

  @media only screen and (max-width:768px) {
    nav .nav-wrapper .brand-logo {
    font-size: 20px;
    margin-left: 10px;
    left: unset;
    transform: unset;
  }
  }
  
  .container {
    margin-bottom: 65px;
  }

  #disclaimer {
    color: red;
    font-size: 12px;
  }

  #footer-container {
    width: 100%;
  }
  